<div class="jumbotron text-center">
  <h1>Mean Auth App</h1>
  <p class="lead">Welecome to our  custom new authentication app</p>
  <div>
    <a class="btn btn-primary"  [routerLink]="['/register']">Register</a>
    <a class="btn btn-default"  [routerLink]="['/login']"> Login</a>
  </div>
</div> 

<div class="row">
  <div class="col-md-4">
    <h3>Expree Backend</h3>
    <p>Express is middleware of server and client communication</p>

  </div>
  <div class="col-md-4">
      <h3>Angular-Cli</h3>
      <p>Angular-Cli to generate componets,servic and more on local server</p>
    
  </div>
  <div class="col-md-4">
      <h3>JWT Tokens</h3>
      <p>Full featured authentication using JSON web Tokens</p>
    
  </div>  
</div>
